#about-me {
    border: 1px solid var(--accent);;
    padding: 7%;
    border-radius: 20px;
}

#about-me-container {
    margin-bottom: 10%;
    padding-left: 0%;

}

@media only screen and (min-width: 769px) {
    #about-me-container {
        margin-top: 25%;
        width: 75%;
    } 
}