nav-item {
    font-weight: 100;
}

.navbar {
    background-color: transparent;
}

.nav-item:hover, .menu-icon:hover {
    color: var(--accent) !important;
}

.menu-icon {
    color: var(--gray);
    padding: 20px;
}

.mobile-nav-item {
    font-size: 12px;
    padding-left: 10px;
    font-weight: 100;
    color: var(--light-gray) !important;
    text-transform: uppercase;
}